$video-height: 50vh;

.video {
  height: $video-height;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.video__placeholder { min-width: 100%; display: block; }

.video__button {
  background: transparent;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  position: absolute;
  display: block;
  border: 3px solid #232439;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  transform: translateX(-50%) translateY(-50%);
  
  &:before,
  &:after {
    content: "";
    position: absolute;
    display: block;
    background-color: #232439;
    width: 35px;
    height: 3px;
    top: 50%;
    left: 35%;
    transition: background-color 0.3s;
  }
  
  &:before { transform: translateY(-11px) rotate(45deg); }
  &:after { transform: translateY(11px) rotate(-45deg); }
  
  &.is-playing {
    top: 1rem;
    right: 1rem;
    left: auto;
    transform: none;
  }
  
  &.is-playing:before,
  &.is-playing:after { left: 32%; }
  
  &.is-playing:before { transform: translateY(0) rotate(45deg); }
  &.is-playing:after { transform: translateY(0) rotate(-45deg); }
}
.video:hover .video__button {
  border-color: #6ddce5;
  
  &:before,
  &:after {
    background-color: #6ddce5;
  }
}

#video-player {
  width: 100%;
  height: $video-height;
  top: 0;
  left: 0;
  position: absolute;
  display: block;
}

// The code below this point is used for styling the demo
@at-root {
  body {
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
    text-align: center;
  }

  .header {
    background-color: #232439;
    padding: 4rem 2rem;
    text-align: center;
    
    a {
      margin-top: 1rem;
      display: block;
      color: #6ddce5;
      font-size: 0.85rem;
      text-decoration: none;
    }
  }

  .header__title {
    margin: 0;
    color: #fff;
    font-weight: 300;
  }
}